<!DOCTYPE html>
{%extends 'base.html'%}

{%block title%}
    My Tasks
{%endblock title%}

{%block content%}
<main>
    <div class="grid">
        <div>
            <h1>My Tasks</h1>
            <p>
                <button type="button"><a href="{% url 'create_task' %}">Create a new task</a></button>
            </p>
            </div>
        <div>
            {% if tasks.all|length == 0 %}
            <p>You have no tasks</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td class="left">{{task.name}}</td>
                        <td>{{task.start_date|date:"n/j/y"}} </td>
                        <td>{{task.due_date|date:"n/j/y"}}</td>
                        <td>{{task.is_complete|yesno:"Yes,No"}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {%endif%}
        </div>
    </div>
</main>
{%endblock content%}
